.winner__row {
  width: 100%;
  text-align: center;
  color: #fff;
}

.winner__row {
  width: 100%;
}

.winner__number {
  width: 10%;
}

.winner__car-image {
  width: 40%;
}

.winner__car-name {
  width: 30%;
}

.winner__victory-count {
  width: 10%;
}

.winner__best-time {
  width: 15%;
}