*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.btn {
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

