.winner-popup {
  position: fixed;
  width: 35%;
  padding: 20px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 15px;
  background-color: rgb(255, 145, 0);
  text-align: center;
}

.winner-popup__win {
  margin-top: 0;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.winner-popup__car,
.winner-popup__time {
  font-size: 24px;
  color: #0a0211;
}

.winner-popup__button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #0a0211;
  border: 1px solid #0a0211;
  border-radius: 5px;
  color: rgb(255, 145, 0);
}

.winner-popup__button:focus,
.winner-popup__button:hover {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #0a0211;
  border: 1px solid #0a0211;
}